*.o
*.obj

*.so
*.dylib
*.dll

*.la
*.a
*.lib

*.exe
*.out
*.app

doc/_cites.md
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.log
doc/*.nav
doc/*.toc
doc/*.snm
doc/*.pyg
doc/*.out
doc/*.vrb
doc/*.dvi
    
sworms