src/*.o
src/robot_impl/*.o
src/setups/*.o
src/*.obj

src/*.so
src/*.dylib
src/*.dll

src/*.la
src/*.a
src/*.lib

src/*.exe
src/*.out
src/*.app

doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.log
doc/*.nav
doc/*.toc
doc/*.snm
doc/*.pyg
doc/*.out
doc/*.vrb
doc/*.dvi
    
src/sworms
